name: Docker Image CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # PR のときは「master にマージした結果」の仮想コミットを使う
      - uses: actions/checkout@v3
        if: ${{ github.event_name == 'pull_request' }}
        with:
          ref: refs/pull/${{ github.event.pull_request.number }}/merge

      # push のときは普通にそのコミットを使う
      - uses: actions/checkout@v3
        if: ${{ github.event_name != 'pull_request' }}
        with:
          ref: ${{ github.sha }}

      - name: Build the Docker image
        run: ./build.sh latest

